<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<nav class="navbar navbar-default" th:fragment="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Go to index page</a>
			</div>
			<div class="collapse navbar-collapse" id="navigation">
				<form class="navbar-form navbar-left" role="search" th:action="@{/search}" method="get">
					<div class="form-group">
						<input type="text" class="form-control" name="keyword" placeholder="Enter keywords..."></input>
					</div>
					<button type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
					</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li th:if="${#authorization.expression('!isAuthenticated()')}">
						<a href="#" data-toggle="modal" data-target="#logIn">Log in</a>
						<div id="logIn" class="modal fade" tabindex="-1" role="dialog">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title">Please log in</h4>
									</div>
									<div class="modal-body">
										<form th:action="@{/authenticate}" method="post">
											<div class="form-group">
												<label for="username">User name</label>
												<input type="text" class="form-control" id="username" name="username" />
											</div>
											<div class="form-group">
												<label for="password">Password</label>
												<input type="password" class="form-control" id="password" name="password" />
											</div>
											<button id="submit" type="submit" class="btn btn-primary">Log in</button>
											<div class="checkbox">
												<label>
													<input type="checkbox" name="remember-me" />Remember me
												</label>
											</div>
											<a href="#">Forgot the password?</a>
										</form>
									</div>
									<div class="modal-footer">
										Don't have an account? <a href="#">Register</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li th:if="${#authorization.expression('isAuthenticated()')}">
						<a href="/logOut" th:href="@{/logOut}">Log out</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</html>