<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header"></head>
	<body>
		<nav th:replace="fragments/navigation :: navigation"></nav>
		<div class="container" th:if="${pageHolder}">
			<div class="well">
				<h3>Found video <span th:text="${pageHolder.totalElements}" class="label label-primary"></span></h3>
			</div>
			<ul class="pagination" th:with="keywords=${#httpServletRequest.getParameter('keywords')}">
				<li class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span th:text="${pageHolder.currentSize}"></span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a th:href="@{/search?keywords=} + ${keywords} + '&amp;size=25">25</a></li>
						<li><a th:href="@{/search?keywords=} + ${keywords} + '&amp;size=50">50</a></li>
						<li><a th:href="@{/search?keywords=} + ${keywords} + '&amp;size=100">100</a></li>
					</ul>
				</li>
				<li th:class="${pageHolder.first}? 'disabled' : ''">
					<a th:href="${pageHolder.first}? '#' : @{/search?keywords=} + ${keywords} + '&amp;page=1&amp;size=' + ${pageHolder.currentSize}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li th:class="${pageHolder.first}? 'disabled' : ''">
					<a th:href="${pageHolder.first}? '#' : @{/search?keywords=} + ${keywords} + '&amp;page=' + ${pageHolder.currentPage - 1} + '&amp;size=' + ${pageHolder.currentSize}" aria-label="Previous">
						<span aria-hidden="true">&lsaquo;</span>
					</a>
				</li>
				<li th:each="pageNumber : ${#numbers.sequence(pageHolder.startIndex, pageHolder.endIndex)}" th:class="${pageNumber == pageHolder.currentPage}? 'active' : ''">
					<a th:href="@{/search?keywords=} + ${keywords} + '&amp;page=' + ${pageNumber} + '&amp;size=' + ${pageHolder.currentSize}" th:text="${pageNumber}"></a>
				</li>
				<li th:class="${pageHolder.last}? 'disabled' : ''">
					<a th:href="${pageHolder.last}? '#' : @{/search?keywords=} + ${keywords} + '&amp;page=' + ${pageHolder.currentPage + 1} + '&amp;size=' + ${pageHolder.currentSize}" aria-label="Next">
						<span aria-hidden="true">&rsaquo;</span>
					</a>
				</li>
				<li th:class="${pageHolder.last}? 'disabled' : ''">
					<a th:href="${pageHolder.last}? '#' : @{/search?keywords=} + ${keywords} + '&amp;page=' + ${pageHolder.totalPages} + '&amp;size=' + ${pageHolder.currentSize}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
			<div th:each="resource : ${pageHolder.content}">
				<!-- Do something with content -->
			</div>
		</div>
	</body>
</html>