<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header"></head>
	<body>
		<nav th:replace="fragments/navigation :: navigation"></nav>
		<div class="container">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Title</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="resource : ${resources}">
						<td th:text="${resource.title}"></td>
						<td><a th:href="@{/playerPage} + ${resource.id}" class="btn btn-default btn-sm">Play</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>