<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header"></head>
	<body>
		<nav th:replace="fragments/navigation :: navigation"></nav>
		<div class="container" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
			<div th:if="${mediaInformation}">
				<div id="imageCarousel" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol th:each="picture, status : ${mediaInformation.pictures}" class="carousel-indicators">
						<li data-target="#imageCarousel" th:data-slide-to="${status.index}" th:class="${status.index == 0}? 'active' : ''"></li>
					</ol>
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div th:each="picture, status : ${mediaInformation.pictures}" th:class="${status.index == 0}? 'item active' : 'item'">
							<img th:src="@{/pictures/} + ${picture.id} + '/scaledInstance'" alt="Image that is related to this resource"></img>
						</div>
					</div>
					<!-- Controls -->
					<a class="left carousel-control" href="#imageCarousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#imageCarousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				<div th:id="${mediaInformation.id}">Loading of player...</div>
				<script th:inline="javascript">
					var pathsToResource = [[${mediaInformation.pathsToResource}]];
					var sources = [];
					$.each(pathsToResource, function(formatType, value) {
						var source = {
							file: value
						}
						sources.push(source);
					});
					var playerInstance = jwplayer([[${mediaInformation.id}]].toString());
					playerInstance.setup({
						sources: sources,
						skin: {
							name: "bekle"
						}
					});
				</script>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		$(function(){
		    $('#imageCarousel').carousel({
		    	interval: 5000
		    });
		});
	</script>
</html>